/*
 * @Author: YuWen.tao 
 * @Date: 2019-04-16 10:55:45 
 * @Last Modified by: YuWen.tao
 * @Last Modified time: 2019-04-26 15:24:36
 */

 $main_color: #589802;
 $white_color: #fff;
 
 * {
   padding: 0;
   margin: 0;
   list-style: none;
 }
 
 body {
   padding: 0;
   margin: 0;
   display: none;
   min-height: 80vh;
   font-size:0.14rem;
 }
 a{
   color:#333;
   text-decoration: none;
 }
 .none {
   display: none;
 }
 .fl {
   
  float: left;
}

.fr {
  float: right;
}
.houseList-box {
  width: 95%;
  height: auto;
  overflow: hidden;
  padding: 0 2.5%;
}
.box_hidden {
  height: 100%;
  overflow: hidden;
}
/* 路由过渡效果 */ 
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
/* 路由过渡效果 */
/* 间隔 start */
.new_interval_box{
    height: 0.1rem;
    width: 100%;
    background: #f8f8f8;
}
/* 间隔 end */  

/* swiper 在本页面中无法修改分页器样式 */ 
.index_banner ul.swiper-pagination {
  span {
    background: rgba(255, 255, 255, 0.6);
  }
  span.swiper-pagination-bullet-active {
    background: #fff;
  }
}
/* swiper 在本页面中无法修改分页器样式 */ 
.houseList-mt {
  margin-top: 0.44rem;
}